node_modules
.env
/dist
/build
/.DS_Store
/.vscode
.idea
*.log
*.tmp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
users_services/prisma/migrations
product_services/prisma/migrations
order_services/prisma/migrations

users_services/.env
product_services/.env
order_services/.env
file_storage_services/node_modules
file_storage_services/uploads
api_gateway/uploads